################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/login-form/v14
/login-form/bin
/login-form/obj/Debug
/login-form/Properties
